* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-color: #04551f;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.py-1 {
    padding-block: 1rem;
}

.px-1 {
    padding-inline: 1rem;
}

.my-1 {
    margin-block: 1rem;
}

.mx-1 {
    margin-inline: 1rem;
}


.py-2 {
    padding-block: 2rem;
}

.px-2 {
    padding-inline: 2rem;
}

.my-2 {
    margin-block: 2rem;
}

.mx-2 {
    margin-inline: 2rem;
}

.main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.task-box {
    box-shadow: 0px 0px 20px -5px var(--main-color);
    border-radius: 6px;
    min-width: 400px;
    max-width: 1200px;
    min-height: 500px;
    margin: 1rem;
    padding: 0.5rem 1rem;
    color: var(--main-color);
}

.task-undo-modal {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: flex-end;
    background-image: repeating-linear-gradient(-45deg,
            white 0 20px,
            red 20px 40px);
    border: 1px solid red;
    border-radius: 4px;
    animation: deleteProgress 10s linear infinite reverse;
    background-size: 400% 400%;
    overflow: hidden;
    display: none;
    transition: all 2s ease-in-out;
}

.task-undo-modal button {
    outline: none;
    border: 0;
    padding: 0.8em 1.3em;
    box-shadow: -2px 0px 10px 0px #151515;
    cursor: pointer;
    background-color: #999;
    border-radius: 4px;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.task-undo-modal button:hover {
    color: #999;
    background-color: #fff;
}

.task-each {
    position: relative;
    z-index: 100;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    padding: 0.5rem 1rem;
    height: 100%;
    font-size: 0.8rem;
    color: rgb(5, 87, 36);
    cursor: pointer;
    user-select: none;
    width: 100%;
}

.active {
    border-left: 5px solid var(--main-color);
}

.task-date {
    font-size: 0.7rem;
    color: #000;
}

.task-box-child {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    margin: 0.8rem 0;
}

.main-heading {
    font-size: 2rem;
    font-weight: bold;
}

header {
    background-color: #151515;
    color: #fff;
    position: relative;
    z-index: 999;
}

header .logo {
    user-select: none;
    margin-left: 10px
}

header nav {
    --padding-block: 0.94rem;
    --padding-inline: 0.625rem;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav>ul>li {
    display: inline-block;
    position: relative;
    padding: var(--padding-block) var(--padding-inline);
}

nav>ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    user-select: none;
}

nav>ul li a:hover {
    color: aquamarine;
}

ul li>ul {
    display: none;
    position: absolute;
    max-width: 100%;
    min-width: 150px;
    top: 100%;
    background-color: #000;
    border-radius: 0 0 4px 4px;
}

ul li>ul li {
    padding: var(--padding-block) var(--padding-inline);
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease-in-out;
}

ul li>ul li:hover {
    background-color: var(--main-color);
}

nav ul button {
    outline: none;
    border: 0;
    color: inherit;
    background-color: inherit;
    font-size: inherit;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

nav ul button:hover {
    color: aquamarine;
}

.dropDown-arrow {
    position: relative;
    top: 3px;
}

.menu-toggler {
    display: none;
    position: absolute;
    right: 1.5rem;
    top: 10px;
    cursor: pointer;
    border: 2px solid #aaa;
    padding: 4px 10px 1px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.menu-toggler:hover,
.menu-toggler:focus-within {
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

@media screen and (max-width: 500px) {
    header {
        /* display: block !important; */
        display: block !important;
        /* justify-content: flex-start !important; */
        position: relative;
    }

    header .logo {
        padding: 0.94rem 0.625rem;
    }

    .menu-toggler {
        display: block;
    }

    .active-nav {
        display: block;
    }

    header nav {
        display: none;
    }

    header nav>ul>li {
        display: block;
    }

    ul li>ul {
        padding-left: 0.8rem;
        position: static !important;
    }
}